<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" media="screen" href="http://rawgithub.com/twitter/bootstrap/3.0.0-wip/docs/assets/css/bootstrap.css"/>
    {% title_tag %}
    {% meta_tags %}
  </head>

  <body>
    {{body}}
    <script src="http://rawgithub.com/twitter/bootstrap/3.0.0-wip/docs/assets/js/bootstrap.js"></script>
  </body>
</html>
