.hero.home
  .container
    .row
      .col-sm-8.with-underlay.full-height
        %h1.text-center
          Loans with a
          %br/
          %em Personal Touch
        %h2.text-center
          Repay between 6 and 12 months
        .row
          .col-md-10.col-md-offset-1
            %a.btn.btn-block.btn-apply-now{href: new_registration_path} Apply Now
        .indicate-below
          See How
          %br/
          It Works