<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" media="screen" href="//rawgithub.com/twitter/bootstrap/3.0.0-wip/dist/css/bootstrap.min.css">
    {%  title_tag   %}
    {%  meta_tags   %}
    {% head_content %}
  </head>

  <body>
    {{body}}
    <script src="//rawgithub.com/twitter/bootstrap/3.0.0-wip/dist/js/bootstrap.js"></script>
  </body>
</html>
