<!-- We can access the `current_page helper` in a layout -->
<span id="path"><%= current_page.path %></span>

<!-- Which is often just the `landable` helper forwarding things along: -->
<span id="path-via-decorator"><%= landable.path %></span>

<!-- If we access the body, it's not HTML-safe by default: -->
<div id="body"><%= landable.body %></div>

<!-- So you can choose for yourself if it should be: -->
<div id="body-unescaped"><%= landable.body.html_safe %></div>
